/* ==UserStyle==
@name           YaDark
@namespace      https://github.com/4g0tTeN/YaDark
@version        1.0.0
@description    Dark theme for Yandex Search
@author         4g0tTeN
==/UserStyle== */
@-moz-document url-prefix("https://yandex.ru/search") {
    /* SUGGESTIONS */
    .mini-suggest__arrow {
        background: no-repeat center center url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path fill="%23fafafa" d="M5.414 4l9.141 9.14-1.414 1.415L4 5.415v8.381H2V2h11.797v2z"/></svg>');
    }

    .mini-suggest__delete {
        background: no-repeat center center url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"><path d="M22.728 11.413L21.314 10l-4.95 4.95-4.95-4.95L10 11.414l4.95 4.95-4.95 4.95 1.415 1.413 4.95-4.95 4.95 4.95 1.413-1.415-4.95-4.95" fill="%23fafafa"/></svg>');
    }

    .mini-suggest__item {
        color: #fafafa;
    }

    .mini-suggest__item:hover {
        background-color: #474747;
    }

    .mini-suggest__item_selected_yes {
        background-color: #575757;
    }

    .mini-suggest__item_type_nav .mini-suggest__item-title,
    .mini-suggest__item_type_nav .mini-suggest__item-title:active {
        color: #9898fe;
    }

    .mini-suggest__item_type_nav .mini-suggest__item-info {
        color: #0a0;
    }

    .mini-suggest__footer {
        background-color: #474747;
    }

    .mini-suggest__footer-button {
        color: #fafafa;
    }

    .mini-suggest__footer-button_type_feedback .mini-suggest__footer-button-icon {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"><path d="M8 16.003a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1.29-4.298c0-.745.567-1.282 1.282-1.282.731 0 1.298.537 1.298 1.282a1.27 1.27 0 0 1-1.297 1.298c-.716 0-1.283-.552-1.283-1.298zm.755-8.702h1.07a.75.75 0 0 1 .747.812l-.394 4.729a.5.5 0 0 1-.498.458h-.78a.5.5 0 0 1-.498-.458l-.394-4.729a.75.75 0 0 1 .747-.812z" fill="%23fafafa"/></svg>');
    }

    .mini-suggest__popup::after {
        background: #373737;
    }

    /* USER POPUP */
    .menu__text {
        color: #fafafa;
    }
    .user2__add-account .user-account__pic:before {
        background: #666 url("//yastatic.net/islands/_/A8tpRiU5BCb0A-o6dXHsT_tMx9s.svg") center no-repeat;
        border: 1px solid #666;
    }

    .user2__footer-link.button2 {
        color: #fafafa;
    }

    .user2__menu-footer {
        background: #474747;
    }

    .user2__menu .menu__item.menu__item_hovered_yes {
        background-color: #474747;
    }

    .user2__popup.light-popup.light-popup_visible_yes {
        background: #373737;
    }

    /* TABS NAVIGATION */
    .navigation {
        background-color: #373737;
        color: #fafafa;
    }

    .service__name {
        color: #aaa;
    }

    /* CONTENT */
    .direct-label[class] {
        background: none;
    }

    .Extralinks {
        background: no-repeat url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="7" height="6"><path fill="%2352ba52" d="M0 0h7L3.5 6 0 0"/></svg>');
        ;
    }

    .fact__answer > .link {
        color: #fafafa
    }

    .fact-layout {
        background-color: #373737;
        box-shadow: 0 0 6px 0 #0001, 0 4px 10px 0 #0003;
        color: #aaa;
    }

    .favicon__icon {
        background-color: #fafafa;
        border-radius: 10px;
    }

    .link_theme_ghost {
        color: #a0a0a0;
    }

    .link_theme_minor {
        color: #9898fe;
    }

    .link_theme_minor:visited {
        color: #c969c9;
    }

    .link_theme_normal,
    .Link_theme_normal {
        color: #9898fe;
    }

    .link_theme_normal:visited {
        color: #c969c9;
    }

    .link_theme_normal:hover {
        color: #f35858;
    }

    .link_theme_outer,
    .Link_theme_outer {
        color: #52ba52;
    }

    .object-footer_in-card_yes {
        background: #373737;
    }

    .offer-reviews__rating[class],
    .rating,
    .rating__value {
        color: #ccc;
    }

    .pager__item {
        color: #fafafa;
    }

    .pager__item_current_yes {
        background: #474747
    }

    .rating__half,
    .rating__rest {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="102" height="96"><path d="M48 75L18 93l9-34L0 37l35-3L48 2l13 32 35 3-27 22 9 34z" fill="%23fff"/></svg>');
    }

    .rating-dynamic__hoverable .rating-dynamic_dislike:not([data-value='-1'])::before {
        background-color: #474747;
    }

    .rating-dynamic__dislike::before {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="36"><defs><symbol id="a" fill="none" stroke-width="2"><circle cx="6" cy="6" r="5"/><path d="M9.23 9.23L2.77 2.77"/></symbol></defs><use xlink:href="%23a"/><use xlink:href="%23a" stroke="%23fafafa" transform="translate(0 12)"/><use xlink:href="%23a" stroke="%23f35858" transform="translate(0 24)"/></svg>');
    }

    .rating-dynamic__dislike_theme_black::after {
        color: #fafafa;
    }

    .Reactions .Reactions-Item.Button2[class] {
        color: #9898fe;
    }

    .Reactions .Reactions-Icon_type_like {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M22 11.5c0-2.097-1.228-3.498-3.315-3.498h-2.918c.089-.919.133-1.752.133-2.502 0-1.963-1.81-3.5-3.64-3.5-1.414 0-1.81.81-2.049 2.683-.004.034-.094.762-.125.995-.055.407-.112.77-.182 1.133-.273 1.414-.989 2.944-1.727 3.841a2.317 2.317 0 00-.456-.318C7.314 10.116 6.838 10 6.153 10h-.306c-.685 0-1.16.116-1.568.334a2.272 2.272 0 00-.945.945c-.218.407-.334.883-.334 1.568v5.306c0 .685.116 1.16.334 1.568.218.407.538.727.945.945.407.218.883.334 1.568.334h.306c.685 0 1.16-.116 1.568-.334.235-.126.441-.286.615-.477.697.525 1.68.811 2.985.811h4.452c1.486 0 2.565-.553 3.253-1.487.284-.384.407-.652.597-1.166a.806.806 0 01.162-.214c.026-.028.11-.112.208-.21.135-.134.296-.295.369-.373.323-.346.576-.69.782-1.103.357-.713.406-1.258.337-2.173-.026-.35-.027-.464-.008-.542.034-.145.075-.265.147-.447l.066-.166c.22-.552.314-.971.314-1.619zm-9.932-5.555c.034-.251.129-1.018.127-1.009.062-.483.114-.768.168-.932.76.059 1.537.75 1.537 1.496 0 .955-.08 2.082-.242 3.378a1 1 0 00.992 1.124h4.035c.92 0 1.315.451 1.315 1.498 0 .37-.04.547-.173.881l-.066.167a4.916 4.916 0 00-.234.72c-.084.356-.083.586-.04 1.156.044.582.022.822-.131 1.129a2.607 2.607 0 01-.455.63c-.04.044-.148.152-.262.266-.129.128-.265.264-.319.322-.266.286-.451.554-.573.882-.128.345-.192.486-.33.674-.314.425-.798.673-1.644.673H11.32c-1.833 0-2.317-.568-2.317-2v-4.35c1.31-1.104 2.458-3.356 2.864-5.46.077-.405.14-.803.2-1.245zm-6.846 6.152c.116-.061.278-.097.625-.097h.306c.347 0 .509.036.625.098a.275.275 0 01.124.124c.062.116.098.277.098.625v5.306c0 .348-.036.509-.098.625a.275.275 0 01-.124.125c-.116.061-.278.097-.625.097h-.306c-.347 0-.509-.036-.625-.098a.275.275 0 01-.124-.124C5.036 18.662 5 18.5 5 18.153v-5.306c0-.348.036-.509.098-.625a.275.275 0 01.124-.124z" fill="%239898fe"/></svg>');
    }

    .Reactions .Reactions-Icon_type_dislike {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path fill-rule="evenodd" d="M2 13.5c0 2.097 1.228 3.498 3.315 3.498h2.918A26.3 26.3 0 008.1 19.5c0 1.963 1.81 3.5 3.64 3.5 1.414 0 1.81-.81 2.049-2.683v-.001c.005-.041.094-.762.125-.994.055-.407.112-.77.183-1.133.272-1.414.988-2.944 1.726-3.841.137.122.289.229.456.318.407.218.883.334 1.568.334h.306c.685 0 1.16-.116 1.568-.334.407-.218.727-.537.945-.945.218-.407.334-.883.334-1.568V6.847c0-.685-.116-1.16-.334-1.568a2.272 2.272 0 00-.945-.945C19.314 4.116 18.838 4 18.153 4h-.306c-.685 0-1.16.116-1.568.334a2.285 2.285 0 00-.615.477C14.967 4.286 13.984 4 12.679 4H8.227c-1.486 0-2.565.553-3.254 1.487-.283.384-.405.651-.596 1.166a.806.806 0 01-.162.214c-.026.028-.11.112-.208.21-.135.135-.296.295-.368.373-.324.346-.577.69-.783 1.103-.357.713-.406 1.258-.337 2.173.026.35.027.464.008.542a3.043 3.043 0 01-.147.447l-.066.166c-.22.552-.314.971-.314 1.619zm9.805 6.564c-.002.01.093-.758.127-1.009.06-.442.123-.84.2-1.244.406-2.105 1.554-4.357 2.864-5.461V8c0-1.432-.484-2-2.317-2H8.227c-.846 0-1.33.248-1.643.673-.139.188-.203.329-.331.674-.122.328-.307.596-.573.882-.054.058-.19.194-.319.322-.113.114-.222.222-.263.266a2.606 2.606 0 00-.454.63c-.153.307-.175.547-.13 1.13.042.569.043.8-.041 1.155-.06.252-.129.456-.234.72l-.066.167A1.99 1.99 0 004 13.5c0 1.047.395 1.498 1.315 1.498H9.35a1 1 0 01.992 1.124c-.162 1.296-.242 2.423-.242 3.378 0 .745.777 1.437 1.537 1.496.054-.164.106-.449.168-.932zm6.973-7.162c-.116.062-.277.098-.625.098h-.306c-.348 0-.509-.036-.625-.098a.275.275 0 01-.125-.124c-.061-.116-.097-.277-.097-.625V6.847c0-.347.036-.509.098-.625a.275.275 0 01.124-.124c.116-.062.277-.098.625-.098h.306c.348 0 .509.036.625.098a.275.275 0 01.125.124c.061.116.097.278.097.625v5.306c0 .348-.036.509-.098.625a.275.275 0 01-.124.124z" fill="%239898fe"/></svg>');
    }

    .Reactions .Reactions-Icon_type_comment {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M4.136 20.915c.078.054.17.084.266.085 2.724.03 4.721-.496 5.985-1.643.68.143 1.387.218 2.113.218 5.247 0 9.5-3.934 9.5-8.787C22 5.933 17.747 2 12.5 2S3 5.934 3 10.787c0 2.25.914 4.303 2.418 5.858-.128 1.27-.593 2.483-1.398 3.64-.15.216-.1.48.116.63zM10.8 17.42a1.875 1.875 0 00-1.646.446c-.503.457-1.566 1.088-2.563 1.28.468-.679.714-1.669.786-2.38a1.875 1.875 0 00-.518-1.491C5.663 14.038 5 12.463 5 10.797 5 7.077 8.327 4 12.5 4S20 7.077 20 10.797c0 3.72-3.327 6.797-7.5 6.797-.579 0-1.148-.06-1.7-.175z" fill="%239898fe"/></svg>');
    }

    .related__button {
        background-color: #373737;
    }

    .related__button:hover {
        background-color: #474747;
    }

    .related__hidden .favicon__icon {
        background-color: unset;
    }

    .related__link::before {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path d="M6.25 12.503a6.25 6.25 0 115.07-2.595l3.887 3.888a1 1 0 01-1.414 1.414l-3.887-3.887a6.222 6.222 0 01-3.656 1.18zm0-2a4.25 4.25 0 100-8.5 4.25 4.25 0 000 8.5z" fill="%239898fe"/></svg>'), url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"><path d="M6.25 12.503a6.25 6.25 0 115.07-2.595l3.887 3.888a1 1 0 01-1.414 1.414l-3.887-3.887a6.222 6.222 0 01-3.656 1.18zm0-2a4.25 4.25 0 100-8.5 4.25 4.25 0 000 8.5z" fill="%23f35858"/></svg>');
    }

    .Review {
        background-color: #474747;
    }

    .scroller_arrows-theme_shadow.scroller_arrows-theme-color_white .scroller__arrow-shadow_direction_left {
        background-image: linear-gradient(90deg, #272727 0, rgba(255, 255, 255, 0)100%);
    }

    .scroller_arrows-theme_shadow.scroller_arrows-theme-color_white .scroller__arrow-shadow_direction_right {
        background-image: linear-gradient(-90deg, #272727 0, rgba(255, 255, 255, 0)100%);
    }

    .serp-item {
        color: #aaa;
    }

    .serp-footer .serp-footer__search-settings .link {
        color: #fafafa;
    }

    .sitelinks_dotted .sitelinks__item:not(.sitelinks__item_first) .sitelinks__title::before {
        background-color: #9898fe;
    }

    .card__narrow {
        background-color: #373737;
        box-shadow: 0 0 6px 0 #0001, 0 4px 10px 0 #0003;
    }

    .serp-title {
        color: #fafafa;
    }

    .serp-title.serp-title_black_yes {
        color: #bbb;
    }

    .showcase__item-hint {
        color: #aaa;
    }

    .showcase__item-text {
        color: #fafafa;
    }

    .tabs-menu_theme_navigation .tabs-menu__tab_active_yes .link {
        color: #fafafa;
    }

    .tabs-menu_theme_navigation::after {
        background-color: #474747;
    }

    .tabs-menu_theme_navigation.tabs-menu_layout_horiz .tabs-menu__tab_active_yes::before {
        background-color: #fafafa;
    }

    .card__narrow .typo_line_m.typo_text_m {
        color: #aaa;
    }
}
@-moz-document url-prefix("https://yandex.ru/search"),
url-prefix("https://yandex.ru/images"),
url-prefix("https://yandex.ru/video") {
    ::-webkit-scrollbar-track {
        background-color: #373737
    }

    ::-webkit-scrollbar-thumb {
        background-color: #474747;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #575757;
    }

    ::-webkit-scrollbar {
        width: auto;
    }

    /*FIRST HEADER*/
    .header-favorites-button__link::before {
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none"><path d="M13 10a1 1 0 011-1h11a2 2 0 012 2v13a1 1 0 11-2 0V12a1 1 0 00-1-1H14a1 1 0 01-1-1z" fill="%23fafafa"/><path d="M11 13a2 2 0 00-2 2v12.904a1 1 0 001.63.777L16 24.333l5.37 4.348a1 1 0 001.63-.777V15a2 2 0 00-2-2H11z" fill="%23fafafa"/></svg>');
    }

    .input__button,
    .input__settings,
    .input__voice-search {
        background-color: #474747;
    }

    .input__button:hover,
    .input__settings:hover,
    .input__voice-search:hover,
    .input__button:focus,
    .input__settings:focus,
    .input__voice-search:focus {
        background-color: #575757;
    }

    .input__control {
        color: #fafafa;
    }

    .input__settings {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"><path fill="%23fafafa" d="M14.816 13H27v2H14.816A2.99 2.99 0 0 1 12 17a3 3 0 1 1 0-6 2.99 2.99 0 0 1 2.816 2zm3.368 8A2.99 2.99 0 0 1 21 19a2.99 2.99 0 0 1 2.816 2H27v2h-3.184A2.99 2.99 0 0 1 21 25a2.99 2.99 0 0 1-2.816-2H9v-2h9.184z"/></svg>');
    }

    .input_theme_websearch2 {
        background: #373737;
        border: 2px solid #474747;
    }

    .input_theme_websearch2 .input__clear {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"><path fill="%23f0f0f0" d="M18 8C12.5 8 8 12.5 8 18s4.5 10 10 10 10-4.5 10-10S23.5 8 18 8zm5 13.6L21.6 23 18 19.4 14.4 23 13 21.6l3.6-3.6-3.6-3.6 1.4-1.4 3.6 3.6 3.6-3.6 1.4 1.4-3.6 3.6z"/></svg>');
    }

    .input__voice-search {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path fill="%23fafafa" d="M16 20c2.21 0 4-1.79 4-4V9c0-2.21-1.79-4-4-4s-4 1.79-4 4v7c0 2.21 1.79 4 4 4zm8-4h-2a5.98 5.98 0 0 1-1.594 4.072A6.017 6.017 0 0 1 16 22a6.02 6.02 0 0 1-4.405-1.926A5.974 5.974 0 0 1 10 16H8c0 2.02.755 3.95 2.127 5.432A8.031 8.031 0 0 0 15 23.93V27h2v-3.07a8.023 8.023 0 0 0 4.875-2.5A7.976 7.976 0 0 0 24 16z"/></svg>');
    }

    .logo {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="87" height="35" viewBox="0 0 87 35"><path d="M45.983 28.388h-1.598l-.008-17.31h-9.35v1.696c0 5.282-.192 11.396-2.03 15.614h-1.239v6.425h2.797V30.91h8.631v3.903h2.797v-6.425zm12.815-1.13c-.799.551-2.197 1.34-3.956 1.34-2.477 0-3.756-2.366-3.756-6.86h8.391v-1.694c0-6.74-2.197-9.224-5.554-9.224-4.275 0-6.073 4.651-6.073 11.037 0 6.11 2.557 9.382 6.713 9.382 1.998 0 3.676-.631 4.954-1.617l-.719-2.365zM26.765 11.072v8.48H22.13v-8.48h-3.117V30.94h3.117v-8.962h4.635v8.962h3.076V11.073h-3.076zm44.358 19.863h3.396L68.805 20.41l4.995-9.342h-3.157l-4.835 9.184V11.07h-3.116v19.867h3.116v-9.894l5.315 9.894zM86.02 29.69l-.72-2.286c-.719.63-1.877 1.222-3.396 1.222-2.517 0-3.716-2.838-3.716-7.805 0-5.006 1.598-7.49 3.836-7.49 1.279 0 2.477.67 3.317 1.38l.44-2.917c-.88-.552-1.919-1.025-3.717-1.025-4.715 0-7.152 3.982-7.152 10.21 0 6.78 2.597 10.21 6.912 10.21 1.838 0 3.117-.592 4.196-1.499zm-44.716-1.199H35.95c1.678-4.218 1.878-10.327 1.878-14.506v-.355h3.476v14.861zm12.627-15.097c1.798 0 2.358 2.483 2.358 5.873h-5.155c.2-3.547.88-5.873 2.797-5.873z" fill="%23fafafa"/><path d="M11.892 20.35v10.525h3.077V3.027h-4.595c-4.516 0-8.312 2.895-8.312 8.808 0 4.218 1.678 6.504 4.196 7.765L.903 30.875H4.46l4.875-10.526h2.557zm.006-2.457H10.26c-2.677 0-4.875-1.458-4.875-5.991 0-4.691 2.398-6.307 4.875-6.307h1.638v12.298z" fill="%23f00"/></svg>');
    }

    .notifier__icon svg {
        fill: #fafafa;
    }

    .serp-header:not(.serp-header_kids) .search2__input:after {
        border: 2px solid #474747;
        border-left: none;
    }

    .serp-header__main {
        background-color: #373737;
    }

    .serp-header .websearch-button:active .websearch-button__text {
        background-color: #575757;
    }

    .serp-header .websearch-button:active .websearch-button__text:before {
        background-color: unset;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="40"><path fill="%23575757" d="M0 0v40h.999c1.105 0 2.405-.809 2.897-1.792L13 20 3.896 1.792C3.401.802 2.1 0 1 0z"/></svg>');
    }

    .user-account__name {
        color: #fafafa;
    }

    .user-account__name:hover {
        color: red;
    }

    .websearch-button__text {
        background-color: #474747;
        color: #fafafa;
    }

    .websearch-button__text::after {
        background: #474747;
    }

    .websearch-button__text::before {
        background-color: #474747;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="45"><path fill="%23373737" d="M40 -2V45L.99 40 c1.105 0 2.405-.809 2.897-1.792L13 20 3.896 1.792C3.401.802 2.1 0 1 0z"/></svg>');
    }

    .yaplus .yaplus__link .link__inner {
        color: #fafafa;
    }

    /* CONTENT */
    .b-page__body {
        background-color: #272727;
        color: #fafafa;
    }
}
@-moz-document url-prefix("https://yandex.ru/images"),
url-prefix("https://yandex.ru/video") {
    /* MAIN HEADER */
    .safety-filter_type_off .safety-filter__icon {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="24"><path fill="%23fafafa" d="M10.505 24C.735 20.04.055 12.776.01 6.008L0 3c9.107 0 9.082-1.796 10.5-3 1.534 1.204 1.54 3 10.5 3v3.008c-.05 6.77-.73 14.033-10.494 17.992zm6.24-19.096L13 9h5L7.5 18l3.75-7.5H7.5l4.568-6.74c-.79-.385-1.297-.802-1.568-1.16C9.75 3.578 7.372 5 2 5l.007 2.48c.038 5.5 1.188 11.103 8.497 14.32C17.81 18.583 18.96 12.98 19 7.48V5c-.817 0-1.567-.034-2.254-.096z"/></svg>');
    }

    /* SUGGESTIONS */
    .suggest2_theme_large,
    .suggest2_theme_large:after {
        background-color: #373737;
    }

    .suggest2_search2_yes .suggest2__content:before {
        border-bottom: 12px solid #373737;
    }

    .suggest2-item:hover {
        background-color: #474747;
    }

    .suggest2-item_selected_yes {
        background-color: #575757;
    }

    .suggest2-item__text {
        color: #fafafa;
    }

    .suggest2-item__text_type_url {
        color: #7575e5;
    }

    .suggest2-item.suggest2-item_personal_yes .suggest2-item__text {
        color: #de7ade;
    }

    /* TABS NAVIGATION */
    .tabs-navigation {
        background-color: #373737;
    }

    .tabs-navigation__tab_selected_yes .tabs-navigation__tab-over-inner {
        color: #fafafa;
    }
}
@-moz-document url-prefix("https://yandex.ru/images") {
    .icon_type_input-cbir-black {
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="18"><path fill="%23fafafa" d="M15.273 2.864H21v14.318H0V2.864h5.727L6.92 0h7.16l1.193 2.864zm.28 13.084l1.35-1.35-2.424-2.424c.5-.754.794-1.656.794-2.629a4.773 4.773 0 10-4.773 4.773c.973 0 1.875-.294 2.629-.794l2.423 2.424zm-2.19-6.403a2.863 2.863 0 11-5.726 0 2.863 2.863 0 015.727 0z"/></svg>');
    }
}
